:root {
    --bg-white: #fff;
    --bg-primary: #569259;
    --bg-secondary: #787878;
    --bg-black: #000000;
}

* {
box-sizing: border-box;
margin: 0;
}

html {
     margin: 0;
}

body {
    background-color: var(--bg-white);
    height: 140vh;
}

.main-menu {
    background-color: var(--bg-primary);
    display: flex;
    height: 80px;
    z-index: 999;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}

.main-menu div {
    margin: auto;
}

.site-title {
    border-radius: 12px;
    padding: 4px;
    font-style: italic;
    color: var(--bg-white);
    text-shadow: -2px 0 rgba(0, 0, 0, 0.3), -2px 0 rgba(0, 0, 0, 0.3), -2px 0 rgba(0, 0, 0, 0.3);
}

.socials {
    padding: 0.6rem 1rem 0.35rem;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    border-radius: 12px;
    gap: 1.25rem;
}

.socials-logo {
    height: 1.85rem;
}

.header-secondary {
    background-color: var(--bg-secondary);
    height: 80px;
    margin-top: 80px;
    position: fixed;
    width: 100%;
    font-size: 12px;
}

.header-secondary h2 {
    text-align: center;
    padding: 0.5rem;
    color: var(--bg-white);
}

.posts-info {
    background-color: var(--bg-black);
    height: 50px;
    z-index: 999;
    width: 100%;
    position: fixed;
    margin-top: 120px;
}

.posts-info h3 {
    color: var(--bg-white);
    padding: 0.75rem 0 0.5rem 2rem;
}

.blog-frame {
    margin: 0.5rem 0.5rem 0 1rem;
}

.content-column {
    width: 70%;
    margin: 12px;
    /* border: 2px solid blue; */
}

.content-aside-wrapper {
    width: 30%;
}

.content-aside {
    margin: 12px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    border-radius: 10%;
    padding: 1rem;
    line-height: 1.5;
    border: 1px solid var(--bg-black);
    max-width: 250px;
}

.tags-wrapper {
    display: flex;
    justify-content: space-between;
}


.blog-title {
    color: var(--bg-primary)
}

/* div {
    border: 2px solid red;
} */

.content-wrapper {
    /* border: 4px solid green; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 180px;
}

